<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <ul>
      <% data.forEach( (o) => { %>
      <li><%= o.username %> - <%= o.email %></li>
      <% }); %>
    </ul>
  </body>
</html>
